@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: "Philosopher";
  src: url("../app/fonts/Philosopher/Philosopher-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "overused_grotesk";
  src: url("../app/fonts/overused_grotesk/fonts/ttf/OverusedGrotesk-Medium.ttf") format("truetype");
}
body {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

.container {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: "overused_grotesk";
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  justify-content: flex-start;
}
.header .navOptions {
  display: flex;
  gap: 2rem;
}
.header .navOptions .navLinksContainer {
  display: flex;
  gap: 2rem;
}
.header .navOptions .navLinksContainer #navLink {
  font-size: 18px;
}
.header .navOptions .navLinksContainer #navLink:hover {
  color: #910606;
  cursor: pointer;
}
.header .navOptions .navLinksContainer .sub-links-container {
  color: #040505;
  display: none;
  position: absolute;
  padding-top: 0.2rem;
  font-size: 14px;
  align-items: start;
  gap: 0.2rem;
  width: 12rem;
}
.header .navOptions .navLinksContainer .sub-links-container .sub-links {
  color: #040505;
}
.header .navOptions .navLinksContainer .sub-links-container .sub-links:hover {
  color: #910606;
}
.header .navOptions .navLinksContainer .area-of-practice {
  position: relative;
}
.header .navOptions .navLinksContainer .area-of-practice:hover .sub-links-container {
  display: block;
  display: flex;
  flex-direction: column;
}
.header .navOptions .navLinksContainer .insights {
  position: relative;
}
.header .navOptions .navLinksContainer .insights:hover .sub-links-container {
  display: block;
  display: flex;
  flex-direction: column;
}

.hero {
  height: 36.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/heroImage.png);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1490196078);
}
.hero .hero-content {
  display: flex;
  justify-content: space-between;
}
.hero .hero-content .hero-text {
  width: 50%;
}
.hero .hero-content .hero-text .hero-text-title {
  margin-bottom: 0.75rem;
}
.hero .hero-content .hero-text .hero-text-title h2 {
  font-family: Philosopher;
  font-weight: 700;
  font-size: 3rem;
}
.hero .hero-content .hero-text p {
  color: #333;
  font-weight: 400;
  font-size: 18px;
}
.hero .hero-content .hero-text button {
  margin-top: 2rem;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: #910606;
  color: white;
  border-radius: 4px;
}
.hero .hero-content .hero-image {
  width: 50%;
  display: flex;
}
.hero .hero-content .hero-image img {
  width: 100%;
  height: 100%;
}

.area-of-practice-section {
  margin-top: 4rem;
}
.area-of-practice-section .area-of-practice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.area-of-practice-section .area-of-practice-header .area-of-practice-heading {
  font-family: "Philosopher";
  width: 40%;
}
.area-of-practice-section .area-of-practice-header .area-of-practice-heading > :first-child {
  font-size: 3rem;
  color: #910606;
  font-weight: 700;
}
.area-of-practice-section .area-of-practice-header .area-of-practice-heading > :nth-child(2) {
  font-size: 3rem;
  color: #040505;
  font-weight: 700;
}
.area-of-practice-section .area-of-practice-header .divider {
  border: 1px solid #A5ACCB;
  height: 7rem;
}
.area-of-practice-section .area-of-practice-header .area-of-practice-description {
  width: 40%;
  font-size: 18px;
  color: #333;
}
.area-of-practice-section .area-of-practice-content {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}
.area-of-practice-section .area-of-practice-content .area-of-practice-card {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  background-color: #DEE1F0;
  width: 34.5rem;
}
.area-of-practice-section .area-of-practice-content .area-of-practice-card h4 {
  font-family: "Philosopher";
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
}
.area-of-practice-section .area-of-practice-content .area-of-practice-card p {
  font-weight: 400;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}
.area-of-practice-section .area-of-practice-content .area-of-practice-card .area-of-practice-card-bottom {
  border-top: 2px solid rgba(32, 50, 157, 0.5);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
}
.area-of-practice-section .area-of-practice-content .area-of-practice-card .area-of-practice-card-bottom button {
  border: 3px solid #20327F;
  padding-top: 15px;
  padding-right: 38px;
  padding-bottom: 15px;
  padding-left: 38px;
  font-size: 20px;
  font-weight: 600;
  color: #20327F;
}

.insights-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.insights-section .insights-section-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  font-family: "Philosopher";
  width: 40%;
}
.insights-section .insights-section-header > :nth-child(1) {
  color: #910606;
  font-size: 3rem;
  font-weight: 700;
}
.insights-section .insights-section-header > :nth-child(2) {
  color: #040505;
  font-size: 3rem;
  font-weight: 700;
}
.insights-section .insights-section-main {
  display: flex;
  justify-content: space-between;
}
.insights-section .insights-section-main .insights-section-main-image {
  width: 33rem;
  cursor: pointer;
}
.insights-section .insights-section-main .insights-section-main-content {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.insights-section .insights-section-main .insights-section-main-content .insights-section-main-date {
  font-size: 20px;
  color: #203277;
  font-weight: 400;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #3A4553;
}
.insights-section .insights-section-main .insights-section-main-content .insights-section-main-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  font-family: "Philosopher";
  color: #040505;
  cursor: pointer;
}
.insights-section .insights-section-main .insights-section-main-content .insights-section-main-description {
  font-weight: 400;
  font-size: 20px;
}
.insights-section .insights-section-main .insights-section-main-content .insights-section-main-link {
  font-size: 22px;
  font-weight: 500;
  color: #203277;
  line-height: 28px;
  text-decoration: underline;
}
.insights-section .insights-section-other-content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.insights-section .insights-section-other-content .insights-contents {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.insights-section .insights-section-other-content .insights-contents .insights-contents-date {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  border-bottom: 1px solid #040505;
  color: #203277;
  padding-bottom: 2px;
}
.insights-section .insights-section-other-content .insights-contents .insights-contents-title {
  font-family: "Philosopher";
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}
.insights-section .insights-section-other-content .insights-contents .insights-contents-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.insights-section .insights-section-other-content .insights-contents .insights-contents-link {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  color: #203277;
  text-decoration: underline;
}

.advocates-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.advocates-section .advocates-section-heading > :nth-child(1) {
  color: #910606;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  font-family: "Philosopher";
}
.advocates-section .advocates-section-heading > :nth-child(2) {
  color: #040505;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  font-family: "Philosopher";
}
.advocates-section .advocates-section-list {
  display: flex;
  gap: 68px;
}
.advocates-section .advocates-section-list .advocates-individual-box {
  background-color: #F3F3F3;
  box-shadow: 4px 4px 5.8px 0px #CFCFCF;
  border: 1px solid rgba(32, 50, 127, 0.5);
  padding: 24px;
  width: 16rem;
}
.advocates-section .advocates-section-list .advocates-individual-box .advocates-individual-box-name {
  width: 11.5rem;
  font-family: "Philosopher";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding-top: 5px;
}
.advocates-section .advocates-section-list .advocates-individual-box .advocates-individual-box-designation {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #333;
}

.appointment-section {
  background-color: #F7F7F7;
  margin-top: 4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.appointment-section .appointment-section-content {
  display: flex;
  justify-content: space-between;
}
.appointment-section .appointment-section-content .appointment-section-text-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.appointment-section .appointment-section-content .appointment-section-form form {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
}
.appointment-section .appointment-section-content .appointment-section-form .form-details {
  display: flex;
  gap: 2rem;
}
.appointment-section .appointment-section-content .appointment-section-form .form-details input {
  background: transparent;
  outline: none;
  border-bottom: 3px solid #ccc;
  font-weight: 500;
  font-size: 18px;
  line-height: 65px;
  color: rgba(64, 64, 64, 0.8);
}
.appointment-section .appointment-section-content .appointment-section-form .form-details input[type=number]::-webkit-outer-spin-button,
.appointment-section .appointment-section-content .appointment-section-form .form-details input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.appointment-section .appointment-section-content .appointment-section-form .form-message textarea {
  background: transparent;
  outline: none;
  border-bottom: 3px solid #ccc;
  font-weight: 500;
  font-size: 18px;
  color: rgba(64, 64, 64, 0.8);
  resize: none;
  width: 100%;
}
.appointment-section .appointment-section-content .appointment-section-form .appointment-form-submit-button {
  width: 21rem;
  padding: 28px 32px 28px 32px;
  gap: 11px;
  font-size: 18px;
  border-radius: 4px;
  color: #F7F7F7;
  opacity: 0px;
  background: #20327F;
}
.appointment-section .appointment-section-header > :nth-child(1) {
  font-size: 60px;
  line-height: 65px;
  font-family: "Philosopher";
  font-weight: 700;
  color: #910606;
}
.appointment-section .appointment-section-header > :nth-child(2) {
  font-size: 60px;
  line-height: 65px;
  font-family: "Philosopher";
  font-weight: 700;
  color: #040505;
}
.appointment-section .appointment-section-image {
  width: 26rem;
  height: 40rem;
}

.office-location-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.office-location-container .office-location-header > :nth-child(1) {
  font-family: "Philosopher";
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  color: #910606;
}
.office-location-container .office-location-header > :nth-child(2) {
  font-family: "Philosopher";
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  color: #040505;
}
.office-location-container .office-location-contents {
  display: flex;
  gap: 4rem;
}
.office-location-container .office-location-contents .office-location-map {
  width: 32rem;
  height: 19rem;
  border: 3px solid #ccc;
  border-radius: 4px;
}
.office-location-container .office-location-contents .office-location-map img {
  width: 100%;
  height: 100%;
}
.office-location-container .office-location-contents .office-contact-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.office-location-container .office-location-contents .office-contact-details .divider {
  border: 1px solid #C8C4C4;
  width: 105px;
}
.office-location-container .office-location-contents .office-contact-details div {
  font-size: 20px;
  font-weight: 300;
}
.office-location-container .office-location-contents .office-contact-details div span {
  font-size: 20px;
  font-weight: 600;
  color: #910606;
}

.footer-section {
  background-color: #EFEFEF;
  margin-top: 4rem;
}
.footer-section .newsletter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer-section .newsletter-section .newsletter-section-text {
  font-family: "Philosopher";
  font-size: 1.5rem;
  line-height: 26px;
  font-weight: 700;
  color: #040505;
  width: 320px;
}
.footer-section .newsletter-section .newsletter-section-input {
  display: flex;
  align-items: center;
  border: 1px solid #203277;
  border-radius: 5px;
  width: 540px;
  gap: 10px;
}
.footer-section .newsletter-section .newsletter-section-input img {
  padding-left: 24px;
}
.footer-section .newsletter-section .newsletter-section-input input {
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  gap: 10px;
  opacity: 0px;
  background: transparent;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 5, 5, 0.7215686275);
  font-weight: 400;
  width: 404px;
}
.footer-section .newsletter-section .newsletter-section-input button {
  width: 134px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border-left: 1px solid #203277;
  padding: 14px 28px 14px 28px;
}
.footer-section .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.footer-section .footer-content .logo-tagline {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-section .footer-content .logo-tagline img {
  width: 155px;
  height: 60px;
}
.footer-section .footer-content .logo-tagline p {
  font-family: "Philosopher";
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: rgba(4, 5, 5, 0.8);
}
.footer-section .footer-content .footer-links {
  display: flex;
  gap: 4rem;
}
.footer-section .footer-content .footer-links .navigation-links, .footer-section .footer-content .footer-links .footer-area-of-practices, .footer-section .footer-content .footer-links .footer-resources {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-section .footer-content .footer-links .navigation-links .footer-nav-link, .footer-section .footer-content .footer-links .footer-area-of-practices .footer-nav-link, .footer-section .footer-content .footer-links .footer-resources .footer-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #040505;
}
.footer-section .footer-content .footer-links .navigation-links .footer-links-title, .footer-section .footer-content .footer-links .footer-area-of-practices .footer-links-title, .footer-section .footer-content .footer-links .footer-resources .footer-links-title {
  color: #717171;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.footer-section .footer-bottom {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(4, 5, 5, 0.8);
}
.footer-section .footer-bottom .footer-sublinks-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.terms-of-service {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
}
.terms-of-service .terms-of-service-title {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 4rem;
  color: #040505;
  padding-bottom: 60px;
}
.terms-of-service .terms-of-service-updated-date {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 24px;
  padding-bottom: 10px;
}
.terms-of-service .terms-of-service-paragraph-title {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 6px;
}
.terms-of-service .terms-of-service-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}
.terms-of-service .terms-of-service-contact-info {
  padding-bottom: 10px;
}
.terms-of-service .terms-of-service-bottom-content {
  padding-top: 2rem;
}

.privacy-policy {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
}
.privacy-policy .privacy-policy-title {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 4rem;
  color: #040505;
  padding-bottom: 60px;
}
.privacy-policy .privacy-policy-updated-date {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 24px;
  padding-bottom: 10px;
}
.privacy-policy .privacy-policy-paragraph-title {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 6px;
}
.privacy-policy .privacy-policy-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}
.privacy-policy .privacy-policy-contact-info-provider {
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 10px;
}
.privacy-policy .privacy-policy-contact-info {
  padding-bottom: 10px;
}

.careers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.careers-header .careers-heading {
  font-family: "Philosopher";
  width: 40%;
}
.careers-header .careers-heading > :first-child {
  font-size: 3rem;
  color: #910606;
  font-weight: 700;
}
.careers-header .careers-heading > :nth-child(2) {
  font-size: 3rem;
  color: #040505;
  font-weight: 700;
}
.careers-header .divider {
  border: 1px solid #A5ACCB;
  height: 7rem;
}
.careers-header .careers-description {
  width: 40%;
  font-size: 18px;
  color: #333;
}

.careers-content {
  margin-bottom: 8rem;
}
.careers-content .no-job-openings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.careers-content .no-job-openings img {
  width: 32.5rem;
}
.careers-content .no-job-openings .no-job-openings-title {
  font-family: "Philosopher";
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #333;
}
.careers-content .no-job-openings .no-job-openings-text {
  width: 486px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #333;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*# sourceMappingURL=globals.css.map */